# Ignore python compiler
*.pyc
# Mac default file structure
.DS_STORE
# Ignore visuals studio code
.vscode
# Log file
*.Log
noneed_doc/
github-actions-key.json
# LRP model checkpoint (large binary files)
lrp_service/model/